html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.calculator {
  border: 1px solid black;
  position: relative;
  width: 300px;
}
.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 55px;
  border: none;
  background-color: rgb(62, 60, 60);
  color: #fff;
  text-align: end;
  padding-right: 10px;
  padding-left: 10px;
}
button,
.all-clear {
  height: 50px;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: black;
}
.operator {
  background-color: #b5c6d2;
  color: inherit;
}
.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.equal-sign {
  background-color: #f17377;
  border-color: #c4c4c4;
  color: black;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
